.App header {
  padding: 35px 75px;
  display: block;
  background-color: var(--Elements);
  display: flex;
  justify-content: space-between;
}

.App header h1 {
  margin: 0;
}

.App header button {
  display: block;
  padding: 0 20px;
  background: none;
  border: none;
  color: inherit;
  font-size: large;
  cursor: pointer;
}

.App header button:hover,
.App header button:focus,
.App header button:active {
  opacity: 90%;
  background-color: var(--Background);
}

