.App [role=toolbar] {
  padding: 75px 75px 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.App [role=toolbar] :has(input[type=search]) {
  position:relative;
}

.App [role=toolbar] input[type=search] + svg {
  position: absolute;
  color: var(--Background);
  top: 50%;
  left: 1em;
  transform: translateY(-50%)
}

.App [role=toolbar] input[type=search]  {
  font-size: inherit;
  padding: 20px 20px 20px 42px;
}

.App [role=toolbar] select {
  padding: 20px;
}

.App [role=grid] {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 75px;
  padding: 75px;
}

@media (max-width: 1100px) {
  .App [role=grid] {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 775px) {
  .App [role=grid] {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 375px) {
  .App [role=grid] {
    grid-template-columns: 1fr;
  }
}